body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #1d1b2c, #3b2f63);
    color: white;
}

.container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    padding: 2rem;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #888;
    margin-bottom: 1rem;
    background-image: url('images/olho.jpg');
    background-size: cover;
    background-position: center;
}


.about {
    text-align: justify;
    font-size: 1rem;
}

.right-column {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.photo-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.photo-button:hover {
    filter: brightness(60%);
}

.content {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    min-height: 200px;
}

.button-name{
  padding-left: 10%;
  color: black; 
  font-weight: bold;
  font-size: 1.5rem;

}

.relatorio-container {
  padding: 20px;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
}

.button-group button:hover {
  background-color: #45a049;
}

.relatorio-section {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profile-image{
  width: 75%;
}
